<div class="w-screen h-screen flex items-center justify-center">
  <div class="max-w-xl flex flex-col items-center">
    <img
      src="/static/logo.png"
      draggable="false"
      alt="Send.it logo"
      style="width: 50%"
      class="mb-2"
    />
    <header class="mb-6 pb-2 text-center">
      <h1 class="text-xl font-bold uppercase">Drop it</h1>
      <a href="/admin" class="text-red-500 underline">Login</a>
    </header>

    <p class="mt-1 text-[10px] uppercase font-bold text-surface-500">
      A service
      <a class="text-red-500" href="https://git.doomhowl.com/Doomhowl-Interactive/DropIt">forked</a>
      off
      <a class="text-red-500" href="https://git.brammie15.dev/brammie15/ReSendit" target="_blank"
        >ReSendit</a
      >
    </p>
  </div>
</div>
